* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

body {
    overflow-x: hidden;
    background-color: rgb(51, 51, 53);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.hero-main{
    display: flex;
    gap: 30px;
}