.hero__item {
    padding: 30px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-bottom: 1px solid #343841FF;
    cursor: pointer;

    &:hover {
        /* opacity: 0.8; */
        background-color: #333A42FF;
    }
}

.hero__title {
    color: white;
}

.hero-text__box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}